       /*左邊區塊*/
       .left-bar {
           width: 8.7%;
           height: 100%;
           background-color: #333D29;
           position: fixed;
           /*不管頁面滾到哪，這個長條都會在*/
           top: 0;
           /*靠上*/
           left: 0;
           /*靠左*/
           /*要打position才能調這個*/
       }

       /*頭貼區塊(方形)*/
       .StikerArea {
           width: 100%;
           height: 18.5%;
           /*雖然寬高要一樣，但發現隨著頁面放大我的臉會朝我逼近，所以改成%數顯示*/
           background-color: #000;
           border: 100%;
           /*方形*/
       }

       .circle {
           width: 100.3%;
           height: 100.3%;
           /*同上，但圓形還是得一樣才能變圓形*/
           border-radius: 50%;
           /*方形 -> 圓形*/
           overflow: hidden;

       }

       .circle img {
           width: 100%;
           height: 110%;
           object-fit: cover;
           /*保持圖片不變形並填充進圓形(容器)裡*/
       }


       .NavigationColumn ul {
           list-style-type: none;
           margin: 0;
           padding: 0;
           width: 133 px;
           background-color: #414833;
       }

       /*NavigationColumn*/

       li a {
           display: block;
           color: rgb(255, 250, 250);
           padding: 8px 0 8px 16px;
           text-decoration: none;
       }

       /*改變滑鼠碰到方塊時的顏色(用hover標籤)*/
       li a:hover {
           background-color: #f1f1f1;
           color: rgb(8, 8, 8);
       }

       /*NavigationColumn*/

       .schoolandname {
           width: 100%;
           height: 200%;

       }

       .schoolandname_word {
           position: absolute;
           bottom: 10%;
           width: 100%;
           text-align: center;
           font-family: 'Nothing You Could Do', cursive;
           font-family: 'Rajdhani', sans-serif;
           font-size: xx-small;
           color: white;
       }

       /*右邊區塊*/

       body {
           background-image: url(image/background.jpg);
           background-size: auto;
       }

       .content {
           margin-left: 220px;
           padding: 20px;
       }

       .slogan_section {
           color: rgb(255, 253, 253);
           text-align: center;
           padding-bottom: 30%;
           margin: 1% 5%;
           background-image: url(image/sing.jpg);
           background-size: cover;
           font-family: 'Dancing Script', cursive;
           font-family: 'Great Vibes', cursive;
           font-style: italic;
           font-size: 250%;
           word-spacing: 7mm;
           border-radius: 15px;
       }

       /*大卡片下的內容(下面)*/

       .article1 {
           padding-left: 19.5%;
           width: 75.9%;
       }

       .card1 {
           background-image: url(image/background1.jpg);
           background-size: cover;
           padding: 2%;
           margin: 2% 1%;
           border-radius: 15px;
       }

       /*興趣小卡*/
       .interests {
           padding-left: 46%;
       }

       .interests ul {
           display: flex;
           margin-top: -100px;
           gap: 20px;
       }

       .interests ul li {
           list-style: none;
           color: white;
           width: calc(100%/6);
           padding: 20px 40px;
           display: flex;
           flex-direction: column;
           gap: 5px;
           background-image: url(image/background1-1.jpg);
           background-size: cover;
           text-align: center;
           cursor: pointer;
           border-radius: 250%;
       }

       /*左右區塊*/
       .article2 {
           padding-left: 19.5%;
           width: 37.5%;
       }

       .card2 {
           background-image: url(image/background1-1.jpg);
           background-size: cover;
           padding: 2%;
           margin: 3.5% 1%;
           border-radius: 15px;
       }

       .article3 {
           padding-left: 57%;
           width: 38%;
       }

       .card3 {
           background-image: url(image/background1-1.jpg);
           background-size: cover;
           padding: 2%;
           margin: -65% 1%;
           border-radius: 15px;
       }

       .article4 {
           padding-left: 19.5%;
           width: 37.5%;
       }

       .card4 {
           background-image: url(image/background1-1.jpg);
           background-size: cover;
           padding: 2%;
           margin: 70% 1%;
           border-radius: 15px;
       }

       .article5 {
           padding-left: 57%;
           width: 38%;
       }

       .card5 {
           background-image: url(image/background1-1.jpg);
           background-size: cover;
           padding: 1.8%;
           margin: -130.5% 1%;
           border-radius: 15px;
       }

       .experiencepicture {
           width: 50%;
           height: 50%;
           padding-left: 50%;
           padding-top: -50%;
       }

       .article1-1 {
           padding-left: 19.3%;
           width: 76%;
       }

       .card1-1 {
           background-image: url(image/background1.jpg);
           background-size: cover;
           padding: 2%;
           margin: 67.5% 1%;
           border-radius: 15px;
       }

       .bar-progress {
           width: 300px;
           height: 30px;
           border-radius: 5px;
           margin: 20px 10px;
           border: 1px solid rgb(189, 113, 113);
           overflow: hidden;
           position: relative;
       }

       .bar-progress span {
           height: 100%;
           display: block;
           width: 0;
           color: rgb(255, 251, 251);
           line-height: 30px;
           position: absolute;
           text-align: end;
       }

       .progress-blue span {
           background-color: blue;
           padding-right: 70%;
       }

       .progress-green span {
           background-color: green;
           padding-right: 60%;
       }

       .progress-purple span {
           background-color: indigo;
           padding-right: 80%;
       }

       .article1-2 {
           padding-left: 19.3%;
           width: 76%;
       }

       .card1-2 {
           background-image: url(image/background1.jpg);
           background-size: cover;
           padding: 2%;
           margin: -65% 1%;
           border-radius: 15px;
       }

       .bar-progress {
           width: 300px;
           height: 30px;
           border-radius: 5px;
           margin: 20px 10px;
           border: 1px solid rgb(189, 113, 113);
           overflow: hidden;
           position: relative;
       }

       .bar-progress span {
           height: 100%;
           display: block;
           width: 0;
           color: rgb(255, 251, 251);
           line-height: 30px;
           position: absolute;
           text-align: end;
       }

       .progress-time span {
           background-color: rgb(255, 0, 0);
           padding-right: 75%;
       }

       .progress-computer span {
           background-color: rgb(147, 96, 13);
           padding-right: 60%;
       }

       .progress-PPT span {
           background-color: rgb(255, 136, 0);
           padding-right: 90%;
       }

       .article1-3 {
           padding-left: 19.3%;
           width: 76%;
       }

       .card1-3 {
           background-image: url(image/background1.jpg);
           background-size: cover;
           padding: 2%;
           margin: 70% 1%;
           border-radius: 15px;
       }

       .bar-progress {
           width: 300px;
           height: 30px;
           border-radius: 5px;
           margin: 20px 10px;
           border: 1px solid rgb(189, 113, 113);
           overflow: hidden;
           position: relative;
       }