       /** {
           background-image: url(image/backgrund.jpg);
           background-size: cover;
       }*/

       /*左邊區塊*/
       .left-bar {
           width: 8.7%;
           height: 100%;
           background-color: #534444;
           position: fixed;
           /*不管頁面滾到哪，這個長條都會在*/
           top: 0;
           /*靠上*/
           left: 0;
           /*靠左*/
           /*要打position才能調這個*/
       }

       /*頭貼區塊(方形)*/
       .StikerArea {
           width: 100%;
           height: 18.5%;
           /*雖然寬高要一樣，但發現隨著頁面放大我的臉會朝我逼近，所以改成%數顯示*/
           background-color: #000;
           border: 100%;
           /*方形*/
       }

       .circle {
           width: 100.3%;
           height: 100.3%;
           /*同上，但圓形還是得一樣才能變圓形*/
           border-radius: 50%;
           /*方形 -> 圓形*/
           overflow: hidden;

       }

       .circle img {
           width: 100%;
           height: 110%;
           object-fit: cover;
           /*保持圖片不變形並填充進圓形(容器)裡*/
       }


       .NavigationColumn ul {
           list-style-type: none;
           margin: 0;
           padding: 0;
           width: 133 px;
           background-color: #534444;
       }

       /*NavigationColumn*/

       li a {
           display: block;
           color: rgb(255, 250, 250);
           padding: 8px 0 8px 16px;
           text-decoration: none;
       }

       /*改變滑鼠碰到方塊時的顏色(用hover標籤)*/
       li a:hover {
           background-color: #f1f1f1;
           color: rgb(8, 8, 8);
       }

       /*NavigationColumn*/

       .BasicInformation {
           width: 100%;
           height: 200%;

       }

       .BasicInformation_word {
           text-align: center;
           font-family: 'Nothing You Could Do', cursive;
           font-family: 'Rajdhani', sans-serif;
           font-size: xx-small;
           color: white;
       }


       /*右邊區塊*/
       .content {
           margin-left: 220px;
           padding: 20px;
       }

       .slogan_section {
           font-size: 150%;
           font-family: 'Gilda Display', serif;
           color: rgb(255, 253, 253);
           text-align-last: left;
           padding-bottom: 30%;
           margin: 1% 11%;
           background-image: url(image/sing.jpg);
           background-size: cover;
       }

       .table {
           border-collapse: separate;
           width: 100%;
       }

       .td {
           border: 1px solid black;
           padding: 10px;
           text-align: center;
           vertical-align: middle;
       }

       .img {
           width: 50%;
           height: 50%;
       }